@layer reset, init, design;

@import url(./normalize.css) layer(reset);

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer design {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark( #3b3e40, #3b3e40);
        --header-text-color: light-dark( #ffffff, #ffffff);
        --primary-color: light-dark( #0fd5e7, #48a13a);
        --secondary-color: light-dark( #ffffff);
        --text-color : light-dark( #ffffff, #ffffff);
        --font-primary: 'Open Sans', sans-serif;
        --font-secondary: 'Comfortaa', cursive;
    }
    html {
        font-family: "Open Sans", sans-serif;
        font-size: 100%;
        line-height: 1.5;
        color: var(--text-color);
    }
    .header {
        background-image: url(../images/header-2560w.jpg);
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);

    }
}