@layer reset, init, design;

/* @import url(./normalize.css) layer(reset); */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap') layer(init);

@layer init {
    :root {
        color-scheme: light dark;
        --header-bg-color: light-dark(#3b3e40, #3b3e40);
        --header-text-color: light-dark(#ffffff, #ffffff);
        --primary-color: light-dark(#0fd5e7, #3c7034);
        --secondary-color: light-dark(#000000, #ffffff);
        --text-color: light-dark(#ffffff, #000000);
        --font-primary: 'Open Sans', sans-serif;
        --font-secondary: 'Comfortaa', cursive;
        --bg-color: light-dark(#ffffff, #000000);
    }

    html {
        font-family: "Open Sans", sans-serif;
        font-size: 100%;
        line-height: 1.5;
        color: var(--text-color);

    }


}

@layer design {
    h1 {
        font-size: 4rem;
        font-weight: extra-bold;
        /*800*/
    }

    body {
        background-color: var(--bg-color);
        /* min-height: 100vh;
        display: flex;
        flex-direction: column; */
    }

    .header {
        background-image: url(../images/header-2560w.jpg);
        background-size: cover;
        background-position: top left;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.5;
        padding: 2em;

    }


    /* .text1 {
        color: var(--secondary-color);


        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;

        position: relative;
        width: 961px;
        height: 1384px;
        left: calc(50% - 961px/2 + 0.5px);
        top: 0px;
    } */
    main {
        padding: 1rem;
        max-width: 960px;
        margin: 0 auto;
        color: var(--secondary-color);
        flex: 1;
    }

    figure {
        width: 100%;
        margin: 0;
    }

    .img-fluid {
        display: block;
        width: 100%;
        height: auto;

    }

    .img-block {
        margin: 0;
    }

    .img-block__caption {
        padding: 1rem 0;
        font-size: 0.875rem;
        text-align: center;
        font-weight: lighter;

    }

    .info-block {
        border: 3px solid var(--primary-color);

        padding: 1.5rem;
        margin: 0;
    }

    .header__nav {
        text-align: center;
    }

    .header__link {

        margin-top: 1em;
        display: inline-block;
    }

    .button {
        padding: 0.75em 2em;
        display: inline-block;
        border-radius: 0.5rem;
        text-decoration: none;
        font-weight: bold;
    }

    .button--light {
        color: black;
        background-color: white;
    }

    .button--primary {
        color: var(--text-color);
        background-color: var(--primary-color);
    }

    /* .card-container {
        display: flex;
        gap: 1rem; 
        margin-bottom: 15rem;
    } */
    .card-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    @media (max-width: 700px) {
        .card-container {
            flex-direction: column;
            align-items: stretch;
        }

        .card1,
        .card2 {
            width: 100%;
        }
    }

    .card1 {
        padding: 1.5rem;
        margin: 0;
        width: 300px;

    }

    .card2 {
        padding: 1.5rem;
        margin: 0;
        width: 300px;

    }

    .card-image {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .section {
        margin-bottom: 3rem;
    }



    .cta {
        background-color: #3b3e40;
        background-size: cover;
        background-color: var(--header-bg-color);
        color: var(--header-text-color);
        line-height: 1.2;
        padding: 1em;
        margin-bottom: 4rem;

    }

    .cta-small {
        font-size: 2.5em;
    }

    .cta-big {
        font-size: 5em;
    }

    .cta-small-text {
        font-size: 1em;
        
    }

    @media (max-width: 700px) {
        .cta-big {
            display: block;
            margin-top: 0.2em;
        }
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-left: 1em;
        margin-bottom: 4rem;
    }

    ul li::marker {
        color: var(--primary-color);

        font-size: 1.2em;

    }



    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .img-gal-big {
        height: auto;
        width: 100%;
        display: block;
    }

    .img-gal-small {
        width: calc(50% - 0.5rem);
        height: auto;

    }

    @media (max-width: 700px) {
        .img-gal-small {
            width: 100%;
            height: auto;

        }
    }

    h2 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    footer {
        background-color: var(--header-bg-color);
        text-align: center;
        font-size: 0.875rem;
        padding: 1rem;
        border-top: 1px solid var(--secondary-color);
        margin-top: 0;

        width: 100vw;

        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }










}